a, a.contrast, a.secondary, :where(a:not([role=button])):is([aria-current]:not([aria-current=false]), :hover, :active, :focus),
[role=link]:is([aria-current]:not([aria-current=false]), :hover, :active, :focus) {
    --pico-text-decoration: none;
}



[class^="icon-"]:before,
[class*=" icon-"]:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.25em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-edit:before {
    background-image: url(/public/img/icons/edit.svg);
}