main {
    --pico-card-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --pico-block-spacing-vertical: 2rem;
}

article > header > h1,
article > header > h2,
article > header > h3 {
    margin-bottom: 0;
}

article > header > h1 + p,
article > header > h2 + p,
article > header > h3 + p {
    margin-top: var(--pico-typography-spacing-vertical);
}

nav li a:is([aria-current]:not([aria-current=false])) {
    text-decoration: var(--pico-text-decoration);
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.25em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-edit:before {
    background-image: url(/public/img/icons/edit.svg);
}